/* For general layout */
.home {
 
  
 
  box-sizing: border-box;
}

/* Top Menu: Align items to the right */
.top-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align items to the right */
  font-size: 13px;
  
  position: absolute;
  top: 20px; /* Add some space from the top */
  right: 0; /* Keep it at the right side */
  color: rgba(0, 0, 0, 0.87);
  padding: 0 15px; /* Add padding for spacing */
  width: 100%; /* Ensure the menu spans full width */
}

.top-menu-item a {
  text-decoration: none;
  color: #5f6368;
  margin-right: 20px;
}

.top-menu-item a:hover {
  text-decoration: underline;
}

/* For small screens */
@media (max-width: 768px) {
  .top-menu {
    flex-direction: column;
    align-items: flex-end; /* Align to the right on smaller screens */
    position: static; /* Remove absolute positioning */
    width: 100%;
  }

  .top-menu-item {
    margin-top: 10px;
  }

  .top-menu-item a {
    font-size: 14px;
  }

  .top-menu-item.no-show-mobile {
    display: none; /* Hide email and GitHub links on small screens */
  }
}


/* Flex centering */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack vertically on mobile */
  padding-top: 10vh;
  width: 100%;
}

.search-container {
  width: 100%;
  max-width: 600px;
  padding-bottom: 9vh;
}

.frontpage-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-box {
  width: 100%;

}

/* Search Buttons */
.search-btns {
  margin-top: 20px;
  
  display: flex;
  justify-content: space-between;
  width: 100%;
 
}

.search-btn {
  border: 1px solid transparent;
  outline: none;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 15px;
  background: #f8f9fa;
  color: #555;
  cursor: pointer;
  width: 48%; /* Set width of buttons to 48% for better spacing on mobile */
}

.search-btn:hover {
  border: 1px solid #eee;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Mobile responsiveness adjustments */
@media (max-width: 768px) {
  .search-btns {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }

  .search-btn {
    width: 100%; /* Full width for buttons on smaller screens */
    margin-bottom: 10px; /* Add space between the buttons */
  }
}

.footer {
  position: relative;
  
}

.footer .country {
  background: #eee;
  padding: 15px 40px;
  color: #666;
  font-size: 15px;
}

.footer-links {
  background: #eee;
  border-top: 1px solid #ccc;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
}

.footer-links-section {
  display: flex;
  align-items: center;
}

.footer-links-section a,
.footer-links-section button {
  text-decoration: none;
  color: #666;
  padding: 0 18px;
  border: none;
  background: none;
  cursor: pointer;
}
.footer-links-section button {
  font-size: 14.5px;
}

.footer-links-section a:hover,
.footer-links-section button:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .footer .country {
    padding: 10px 20px;
    display: flex;
    justify-items: center;
    width: 100%;
  }

  .footer .country p {
    font-size: 16px;
  }
  .footer-links {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .footer-links-section {
    padding: 10px 0;
  }

  .footer-links-section a,
  .footer-links-section button {
    font-size: 13px;
  }
}